body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #F0B27A;
    padding-top: 0px;
    height: 100%;
}

body * {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

a, a:hover{
    text-decoration: none;
}

/* COMMON */
.p-flex{
    display: flex;
}

.p-flex-all-center{
    align-items: center;
}

.p-flex-jc-sb{
    justify-content: space-between;
}

/* WRAPPER CLASS */
.p-wrapper {
    position: relative;
}

.p-wrapper::before {
    content: '';
    background: #638A7E;
    height: 100vh;
    width: 25vw;
    position: absolute;
    z-index: -1;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
