.p-profile{
    background: url(/assets/img/T800.jpg);
    width: 100%;
    height: 495px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border: 5px solid #824947;
    margin-top: -4px;
}

.p-tag{
    background: #824947;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 14px;
}

.p-des{
    color: #acacac;
    width: 80%;
}