<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <span class="p-tag">Software Engineer</span>
                <h1 class="mt-4">Sirage El-Jawhari</h1>
                <p class="p-des mt-3 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis sodales nunc non elementum. Curabitur suscipit eget lorem vel fermentum. Proin et arcu luctus, tempor sapien sed, commodo sem. Suspendisse vitae ante non quam vestibulum pretium. Vestibulum euismod justo at augue pharetra scelerisque. Quisque ultricies, nunc vitae dapibus accumsan, neque ante convallis felis, sed interdum risus urna sit amet felis. Sed dapibus vel tortor et pellentesque.</p>
            </div>
        </div>
    </div>
</section>